My workflow 4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        -48
      ],
      "id": "fa94c87c-0168-4c2e-9b53-9e97a0b5dc09",
      "name": "Schedule Trigger",
      "notesInFlow": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c765e4af-e7d0-462f-9c32-c0df0e6e9fe7",
              "leftValue": "={{ $json['Product Name'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "f3004fe0-ba20-4750-abc4-f2472bec9f6f",
              "leftValue": "={{ $json['Product ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "d20bd3dc-9a18-49a7-bb11-dcdc7e9511b2",
              "leftValue": "={{ $json.Quantity }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "3655d0db-0621-4d88-b72f-34f71b7fa656",
              "leftValue": "={{ $json['Supplier Email'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "4b65fb6e-d7ff-49de-a5aa-7a59e0be6c6b",
              "leftValue": "={{ $json.Quantity }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "ba1960c0-b3aa-43e9-9276-5a80e364c5fa",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        -48
      ],
      "id": "9e815ffd-2561-45be-90a6-3cb085ee5427",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "musinisowmyasri2004@gmail.com",
        "subject": "inventory",
        "emailType": "text",
        "message": "=Hi,  This is an automated inventory alert.  📦 Product Name: {{$json[\"Product Name\"]}} 📉 Quantity left: {{$json[\"Quantity\"]}} Product ID:{{$json[\"Product ID\"]}} The stock level for this product is low. Please consider restocking.  Thanks,   Your Online Store Bot 🤖",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        176,
        -64
      ],
      "id": "f467a258-b92e-4113-9e49-8505fd0d73cd",
      "name": "Send a message",
      "webhookId": "c537915c-4ecc-4bcc-8521-964eada78e2d",
      "credentials": {
        "gmailOAuth2": {
          "id": "gyMd0kHQmlGL7NMu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1l_ShitzxAf6O0pd273s0IDqZzGTnt2EnXL176ejjw7Q",
          "mode": "list",
          "cachedResultName": "Inventory Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l_ShitzxAf6O0pd273s0IDqZzGTnt2EnXL176ejjw7Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l_ShitzxAf6O0pd273s0IDqZzGTnt2EnXL176ejjw7Q/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -304,
        -48
      ],
      "id": "9716adf1-6bc8-4e0c-91f6-1f945933ac78",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8vzMMznJmfxVWcw2",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d1204403-5038-469a-903a-6fd6c013388d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "43838df3c3d60fefb7ebc3bbf3c02dad6e0c0d107579328f6cc2dcfe35cbc605"
  },
  "id": "Dx57BwlueeTufLYu",
  "tags": []
}